@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


body{
	background-color: #FFF;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}


.grid img {
  width: 100%;
  margin: 0 auto;

}


p {
	font-size: 12px;
}

li{
	list-style-type: none;
}

h2 {
	text-align: center;
}

.meganjessica {
	height: 30px;
	margin-left: 12px;
	margin-top: 10px;
}

.nav-bar {
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: rgba(60, 53, 56, 0.5);
	z-index:4; 
	top: 0;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: inline-block;
	float: right;
	margin-right: 15px;
	margin-top: 8px;
	height: 35px;
	width: 35px;
	background: url('../images/nav-button.svg') no-repeat center top;
	z-index: 5;
}

.nav a,
.nav a:link,
.nav a:visited{
	font-family: 'Muli', sans-serif;
	text-decoration: none;
	font-size: 20px;
	font-variant: small-caps;
	display: block;
	padding: 1.5rem;
	text-align: center;
	background-color: #000;
	color: #fff;
	border-top: 1px solid #fff;
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	background-color: #ccc;
}

.nav ul {
	padding: 45px 0 0 0;
	display: inline;
}

.nav-top{
	max-height: 0;
	-moz-transition: max-height 0.4s ease-out;
	-webkit-transition: max-height 0.4s ease-out;
	-o-transition: max-height 0.4s ease-out;
	transition: max-height 0.4s ease-out;
	overflow: hidden;
}

.nav-top[data-state="expanded"] {
	max-height: 40em;
}

.feature-section {
	background: transparent url('../images/banner-img.png') no-repeat right bottom;
	background-size: cover;
}

.triangle-bg {
	background: transparent url('../images/triangle-bg-darkgrey.png') repeat-x right bottom;
}

.triangle-bg-ud {
	background: transparent url('../images/triangle-bg-ud-darkgrey.png') repeat-x right top;
}

.logo {
	padding-bottom: 71.4%;
	margin: -15px 0 0;
	background-size: cover;
	position: relative;
}

.logo img {
	position: absolute;
	width: 40%;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
}

.about-me {
	padding-bottom: 10rem;
	background: #2E2B2B; 
}


.self-portrait {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px;
}

.hello {
	text-align: center;
	color: #FFF;
	
}

.about-desc {
	text-align: center;
	padding: 10px 15px 0 15px;
	color: #FFF;
}

.skills {
	background-color: #FFF;
}

.skills-h2 {
	text-align: center;
	padding-top: 10rem;
	padding-bottom: 8rem;
}

.skill-icons-list li {
	display: inline-block; 
	margin-left: auto;
	margin-right: auto;
	width: 125px;
}

.skill-icons-list {
	text-align: center;
	margin: 0;
	padding: 0;
}

.s-icon {
	height: 125px;
}

.work {
	padding-bottom: 10rem;
	background-color: #FFF;
}

.work-h2 {
	padding-top: 3em;
	color: #2E2B2B;
}

.flexslider{
	background:none;
	border:none;
	box-shadow:none;
	margin:0px;
}

.flex-control-nav { 
	display: none 
}

.img-description {
	text-align: center;
	max-height: 0;
	-moz-transition: max-height 0.3s ease-out;
	-webkit-transition: max-height 0.3s ease-out;
	-o-transition: max-height 0.3s ease-out;
	transition: max-height 0.3s ease-out;
	overflow: hidden;
	color: #2E2B2B;
}

.img-description[data-state="expanded"] {
	max-height: 22rem;
}

.img-description-left {
	text-align: center;
	max-height: 0;
	-moz-transition: max-height 0.3s ease-out;
	-webkit-transition: max-height 0.3s ease-out;
	-o-transition: max-height 0.3s ease-out;
	transition: max-height 0.3s ease-out;
	color: #2E2B2B;
}

.img-description-left[data-state="expanded"] {
	max-height: 22rem;
}

.down-arrow{
	height: 35px;
	width: 35px;
}

.arrow-div {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5rem;
}

.test {
	color: #000;
}

.contact {
	padding: 8px;
}

.contact-h2 {
	color: #FFF;
}

.social-icons {
	padding-top: 4rem;
}
/* medium */

@media only screen and (min-width:38em){

h2 {
	text-align: left;
}

.right-title {
	text-align: right;
	color: #2E2B2B;
}


.logo {
	padding-bottom: 50%;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.logo img {
	width: 30%;
	
  }

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	display: none;
}

.nav-top {
	float: right;
	z-index: 10;
	overflow: visible;
	margin-top: -50px;
}

.nav li{
	display: inline-block;
}

.nav ul{
	padding: 0;
}

.nav a, 
.nav a:link,
.nav a:visited{
	border:0;
	background-color: rgba(255, 255, 255, 0);
	
}

.nav a:hover {
	color: #CCC;
}


.self-portrait {
 	margin-right: auto;
	margin-left: auto;
	width: 60%;
}

.about-me {
	padding: 20px;
	padding-bottom: 10rem;
}

.about-desc{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: -5rem;
}

.s-icon {
	height: 15rem;

}

.work-h2 {
	text-align: center;
	padding-bottom: 5rem;
	color: #2E2B2B;
}

.down-arrow {
	display: none;
}

.img-description{
	display: block;
	text-align: left;
	padding-right: 5rem;
	overflow: visible;
	color: #2E2B2B;
}

.img-description-left {
	text-align: right;
	padding-right: 10px;
	padding-left: 5rem;
	overflow: visible;
	color: 2E2B2B;
}

.portfolio-img{
	padding-right: 12px;
	padding-bottom: 20px;
}

.portfolio-sub-imgs {
	display: inline-block;
	height: 20%;
	width: 20%;
}

.contact-h2 {
	text-align: center;
}



}

/* large */


@media only screen and (min-width:60em){


	.about-desc {
		text-align: left;
		padding-right: 15rem;
	}

	.self-portrait {
		height: 450px;
		width: 450px;
		margin-right: 10px;
		margin-left: 15rem;

	}

	.portfolio-img {
		height: 700px;
		width: 700px;
		padding-left: 5rem;
		padding-right: 0;
	}

	.img-description {
		padding-right: 10rem;
		overflow: visible;
		color: #2E2B2B;
	}

	.img-description-left {
		padding-right: 10px;
		overflow: visible;
		color: #2E2B2B;
	}


	.hello {
		text-align: left;
	}

	.four-oh-four {
  	height: 50%;
  	margin-right: 25%;
	}
}

.triangle-bg-foot {
	background: transparent url('../images/triangle-bg-darkgrey.png') repeat-x right top;
}

footer {
	text-align: center;
	padding-top: 5rem; 
	background-color: #8F0047;
}

.contact-h2 {
	padding: 0;
	margin: 0;
}

.social-icons {
	list-style-type: none;
}

.social-icons li {
	display: inline-block;
	font-size: 4em;
	padding-right: 40px;
}

.social {
	opacity: 0;
	transform: translateY(100px);
}

.social-section {
	background-size: cover;
}

.fa {
	color: #FFF;
}

.js-social-animation {
	-webkit-animation: social-fade 1s linear forwards;
	-moz-webkit-animation: social-fade 1s linear forwards;
	-o-webkit-animation: social-fade 1s linear forwards;
	-ms-webkit-animation: social-fade 1s linear forwards;
	animation: social-fade 1s linear forwards;
}

@-webkit-keyframes social-fade {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

@-moz-webkit-keyframes social-fade {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

@-o-webkit-keyframes social-fade {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

@-ms-webkit-keyframes social-fade {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes social-fade {
		0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}




